/* Cores */

:root {
    --cor-primaria: #101828;
    --cor-secundaria: #667085;
    --cor-ternaria: #3A404E;
    --cor-quartenaria: #8E2424;
    --branco: #ffffff;
    --cor-vermelho-claro: #8E24240D;
    --cinza: #EAECF0;
    --cinza-claro: #F9FAFB;
    --cinza-borda: #D0D5DD;
    --cinza-escuro: #98A2B3;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  body {
    width: 100%;
    height: 100vh;
  }

/* Header */

.cabecalho {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho__logo a {
    color: var(--cor-ternaria);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}

.cabecalho__navegacao {
    display: flex;
    gap: 40px;
    
}

.navegacao__link {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 1rem ;
    font-weight: 500;
}

.cadastro {
    display: flex;
    align-items: center;
}

.cadastro__link1 {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 1rem;
    padding: 0 2em;
    font-weight: 500;
}

.cadastro__link2 {
    padding: 10px 18px;
    background-color: var(--cor-quartenaria);
    text-decoration: none;
    color: var(--branco);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
}

.menu-lista,
.container__menu {
    display: none;
}

/* Sobre Nós */

.sobre-nos {
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.sobre-nos__subtitulo {
    color: var(--cor-quartenaria);
    font-size: 1.5rem;
    font-weight: 600;
}

.sobre-nos__titulo {
    color: var(--cor-primaria);
    font-size: 3rem;
    font-weight: 600;
}

.sobre-nos__texto {
    color: var(--cor-secundaria);
    width: 790px;
    font-size: 1.25rem;
    line-height: 30px;
    text-align: center;
}

/* Conquistas */

.conquistas {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 2em;
}

.conquistas__itens {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.conquistas__itens__titulos {
    font-size: 3.75rem;
    color: var(--cor-quartenaria);
    font-weight: 600;
}

.conquistas__itens__subtitulo {
    color: var(--cor-primaria);
    font-size: 1.125rem;
    font-weight: 500;
}

.conquistas__itens__texto {
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}

/* Vagas */

.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 3em 0;
    padding: 1em;
}

.vagas__subtitulo {
    background-color: var(--cor-vermelho-claro);
    color: var(--cor-quartenaria);
    font-size: 14px;
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 16px;
}

.vagas__titulo {
    color: var(--cor-primaria);
    font-size: 2.25rem;
    font-weight: 600;
}

.vagas__descricao {
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 1.25rem;
}

.vagas__imagem {
    background-size: cover;
    width: 80%;
    
}


.profissoes {
    padding: 2em 2em 4em 2em;
    width: 55%;
    align-items: left;
    display: flex;
    flex-direction: column;
    gap: 40px
}

.vaga__profisssoes {
    width: 100%;
    padding: 24px 24px 28px 24px;
    border: 1px solid var(--cinza);
    border-radius: 16px;
    display: flex;
    gap: 28px;
    flex-direction: column;
    padding: 2em;
    align-items: left;
    justify-content: center;
    
}

.profissoes__titulo {
    font-size: 1.25rem;
    color: var(--cor-primaria);
    padding-top: 2em;
    font-weight: 500;
}

.profissoes__subtitulo {
    font-size: 1.125rem;
    color: var(--cor-primaria);
    font-weight: 500;
}

.profissoes__descricao {
    display: flex;
    gap: 40px;
}

.profissoes__descricao__texto {
    font-size: 1rem;
    color: var(--cor-secundaria);
    font-weight: 500;
}


/* Depoimentos */

.depoimentos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 3em 0 8em;
    padding: 0px 1.5em 96px 1.5em;
}


.depoimentos__content {
    background-color: var(--cor-vermelho-claro);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 64px;
    border-radius: 16px;
}

.depoimentos__subtitulo {
    color: var(--cor-quartenaria);
    font-size: 0.875;
    font-weight: 600;
}

.depoimentos__titulo {
    color: var(--cor-primaria);
    font-size: 2.25rem;
    font-weight: 500;
}

.depoimentos__imagem {
    width: 56px;
    background-position: center;
    text-align: center;
}

.depoimentos__pessoa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.depoimentos__nome {
    color: var(--cor-primaria);
    font-size: 1rem;
    font-weight: 500;
}

.depoimentos__nome-profissao {
    color: var(--cor-secundaria);
    font-size: 0.875rem;
    font-weight: 400;
}

/* Rodapé */

.rodape {
    width: 100%;
    background: var(--cinza-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 96px 2em;
}

.rodape__titulo {
    color: var(--cor-primaria);
    font-size: 2.25rem;
    font-weight: 600;
}

.rodape__subtitulo {
    color: var(--cor-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
}

.rodape-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.rodape-container__email {
    width: 25%;
    border-radius: 8px;
    border: 1px solid var(--cinza-borda);
    border-radius: 8px;
    align-items: center;
    padding: 12px 14px;
}

.rodape-container__email::placeholder {
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.rodape__copy {
    color: var(--cinza-escuro);
    font-size: 1rem;
    font-weight: 400    ;
}




/* Responsividade */



@media (max-width: 950px) {
.cabecalho__navegacao,
.cadastro {
    display: none;
}

.container__menu {
    display: block;
}
.cabecalho {
    position: relative;
    justify-content: space-between;
    padding: 2em;
}

.container__menu:checked~ .menu-lista {
    position: absolute;
    right: 0;
    top: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    border-radius: 16px;
    padding: 2em;
    align-items: center;
    background-color: #101010;
    
    
}



.lista-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    border-bottom: 1px solid var(--branco);
    
}
.menu-hamburguer {
    width: 32px;
    height: 24px;
    background-image: url(../imagens/Menu.svg);
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
}

.container__imagem {
    padding: 1em;
}

.container__menu {
    display: none;
}

.sobre-nos {
    width: auto;
    margin: 3em 0;
    padding: 2em;
    text-align: center;
}

.sobre-nos__texto {
    width: auto;
}

.conquistas {
    width: auto;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.profissoes {
    width: 95%;
}

.depoimentos__titulo {
    font-size: 2rem;
}

.vaga__profisssoes {
    gap: 15px;
}

.profissoes__descricao {
    flex-wrap: wrap;
    gap: 10px;
}




}

@media screen and (max-width:600px) {
    .depoimentos__titulo{
        font-size: 1.5rem;
    }

    .rodape-container {
        flex-direction: column;
        padding: 1em;
    }

    .rodape-container__email {
        width: auto;
    }

    .depoimentos {
        padding: 0em;
    }

    .depoimentos__content {
        padding: 1em;
    }
}











